<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{email}}</h2>
                </header>

                <p>
                    {{fullName}}
                </p>
            </article>
        </div>
    </div>
</div>
