section {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

footer {
    text-align: center;
    background: #3e4246;
}

h2 {
    color: white;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    text-align: left;
}

a {
    color: #a1a7ae;
    text-transform: capitalize;
    text-decoration: none;
}
