<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="3px solid black">
    <a href="/recipe/new">New</a>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} + '/show/'}">View</a></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} + '/update/'}">Update</a></td>
        <td><a href="#" th:href="@{'/recipe/'+ ${recipe.id} + '/delete/'}">Delet</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>